@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  background-color: #2F363F;
  color: white;
}

body {
  background-color: black;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.widgetWrap {
  background-color:black;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.widgetTitle {
  border-bottom: 2px solid#0A79DF;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 10px;
}

.widgetValue .value {
  font-size: 56px;
  font-weight: 700px;
  text-align: center;
  line-height: 100%;
  color: #F4C724;
}

.description {
  text-align: right;
  font-size: 12px;
  margin-top: 12px;
  padding-left: 12px;
  
}

.widgetValue {
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-header {
  background-color: #758AA2;
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  font-family: cursive;
}

.dashboard-dropdown {
  font-size: 14px;
  width: 140px;
  float: right;
}
.footer{
  text-align: center;
  background: linear-gradient(to bottom, white 0%, #616C6F 100%);
  color:black
}
